.c-card {
  margin: 1rem;
  padding: 0.5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
  background-color: #eee;
  border: 1px solid #ddd;
  text-align: center;

  &__userimg{
    width: 5rem;
    border-radius: 50%;
  }
}
