body {
  font-size: 30px;
  background-color: #eee; }

h1 {
  color: blue; }

.testbox {
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
